ConfigurationSectionDesigner/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ConfigurationSectionDesigner" elementFormDefault="qualified" targetNamespace="urn:ConfigurationSectionDesigner" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="oAuth2LoginConfig" type="tns:ConfigurationSectionDesigner.OAuth2LoginConfigCT" />
	<xs:complexType name="ConfigurationSectionDesigner.OAuth2LoginConfigCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="1" name="web" type="tns:ConfigurationSectionDesigner.WebCT">
				<xs:annotation>
					<xs:documentation>The Web.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="profiles" type="tns:ConfigurationSectionDesigner.ProfilesCT">
				<xs:annotation>
					<xs:documentation>The Profiles.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesigner.WebCT">
		<xs:attribute name="acceptedRedirectUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AcceptedRedirectUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="failedRedirectUrl" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FailedRedirectUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="proxy" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Proxy.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesigner.OAuthItemConfigCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clientid" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Clientid.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="clientsecret" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Clientsecret.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="callbackUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CallbackUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scope" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Scope.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endpoint" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Endpoint.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesigner.ProfilesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="profile" type="tns:ConfigurationSectionDesigner.ProfileConfigCT">
				<xs:annotation>
					<xs:documentation>The ProfileConfig Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="currentProfile" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The CurrentProfile.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ConfigurationSectionDesigner.ProfileConfigCT">
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isTestSystem" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsTestSystem.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
